<h1>Add a Line </h1>

<form action="/lines" method="post">
  <label for="line_info">Line Name:</label>
  <input id="line_info" name="line_info" type="text">

  <button type="submit">Add Line</button>
</form>

<% if @lines.any?() %>
<h3>Here are all the stations on this line:</h3>

<ul>
  <% @lines.each() do |line| %>
  <li><a href="/lines/<%= line.id() %>" %><%= line.line_info() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stations!</p>
<% end %>
